# Data visualization and exploration with Pandas

Author: Alexandre Gramfort

### Data:

MovieLens 1M Data Set contain les grades given to movies by users on the Movielens website.

The data are available at:

https://dl.dropboxusercontent.com/u/2140486/data/ml-1m.zip

and come from:

http://grouplens.org/datasets/movielens/

### Import necessary packages

In [ ]:
import pandas as pd
import numpy as np

### Load the "users" data as Pandas DataFrame

In [ ]:
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_table('ml-1m/users.dat', sep='::', header=None, names=unames, engine='python')

In [ ]:
users.head()

### Read the "rating"

In [ ]:
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('ml-1m/ratings.dat', sep='::', header=None, names=rnames, engine='python')

In [ ]:
ratings.head(10)

### Read the movies

In [ ]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('ml-1m/movies.dat', sep='::', header=None, names=mnames, engine='python')

In [ ]:
movies.head(10)

### Let's merge everything as a single DataFrame

In [ ]:
data = pd.merge(pd.merge(ratings, users), movies)

In [ ]:
data.head()

# Let's explore the data

### Question 1

How many movies have a grade higher than 4.5 ?
Is there a difference between Male or Females?

### Question 2

How many movies have a median grade higher than 4,5 among the men older than 30 years? And among the women older than 30?

### Question 3a

What are the most popular movies?

Hint: use the `DataFrame.nlargest` method.

### Question 3b

What are the most popular movies among the movies that have at least 30 grades?

### Question 3c

What is the movie with the highest number of ratings?

# Data Visualization

In [ ]:
%matplotlib inline

### Question 4

Show the histogram of the ratings.

### Question 5

Show the histogram of the number of grades obtained for each movie.

### Question 6

Show the histogram of the mean grade for each movie.

Does the distribution of the grade depend on the gender of the user?

### Question 7

Show the histogram of grades among the movies that have been graded at least 30 times.

### Question 8

Show as "scatter plot" the mean grades for the men vs the grades of the women.

Now restrict the plot to the movies with at least 100 grades.